.democlass {
  color: rgb(41, 45, 239);
}

.fontSize {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 3px;
  color: blueviolet;
}
.addclass {
  background-color: aqua;
  font-size: 25px;
  font-weight: 700;
  color: rgb(54, 211, 19);
}

.h1class {
  color: blue;
}
